@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --border: rgba(255, 255, 255, 0.1);
  --border-strong: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --font-serif: var(--font-IBM-serif);
  --font-sans: var(--font-IBM-sans);
  --font-mono: var(--font-IBM-mono);
}

.dark {
  --background: hsl(200, 5%, 5%);
  --foreground: #ededed;
}

.home {
  --background: hsl(200, 5%, 5%);
  --foreground: #ffffffeb;
  --foreground-secondary: rgba(255, 255, 255, 0.7);
  --foreground-600: rgba(255, 255, 255, 0.6);
  --foreground-500: rgba(255, 255, 255, 0.5);
  --foreground-400: rgba(255, 255, 255, 0.4);
  /* comentario */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Clases personalizadas */

.tiptap {
  @apply prose prose-img:max-h-[400px] max-w-none p-3 focus:outline-none prose-h2:mt-0 ;
}

@utility choco-article {
  & h1 {
    @apply mb-6 font-serif text-xl font-bold sm:mb-8;
  }

  & p {
    @apply mb-4 leading-6 sm:mb-5;
  }

  & img {
    @apply mb-4 max-h-[300px] sm:mb-5;
  }
}

/* Animaciones */

.loader {
  --color-1: #262626;
  --size: 0.6px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) dotted var(--color-1);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ! otros estilos (posible eliminar) */
/* --background: hsl(200, 5%, 12%); */
/* --text-primary: #e5e5e5;
--text-secondary: #a0a0a0;
--text-disabled: #6b6b6b; */
/* --foregroud-disabled: #ffffff7a; */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; */
/* --foreground: #ededed;
  }
} */
