@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgba(255, 255, 255, 0.1);
  --border-strong: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --font-serif: var(--font-IBM-serif);
  --font-sans: var(--font-IBM-sans);
  --font-mono: var(--font-IBM-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

.dark {
  /* --background: #0a0a0a;*/
  --background: #1d1f20;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
